version: 2.1

executors:
  docker-builder:
    docker:
      - image: cimg/base:stable
    working_directory: /tmp/src/xnat_downloader
    environment:
      DOCKER_BUILDKIT: "1"

commands:
  install_ci_dependencies:
    steps:
      - run:
          name: Install CI dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y pigz python3
  ensure_cache_directory:
    steps:
      - run:
          name: Prepare cache directory
          command: mkdir -p /tmp/cache
  load_cached_image:
    parameters:
      archive:
        type: string
    steps:
      - run:
          name: Load Docker image layer cache
          command: |
            docker info
            set +o pipefail
            if [ -f <<parameters.archive>> ]; then
              pigz -d --stdout <<parameters.archive>> | docker load
              docker images
            else
              echo "No cached image found at <<parameters.archive>>"
            fi
  save_image_to_archive:
    parameters:
      image:
        type: string
      archive:
        type: string
    steps:
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p "$(dirname <<parameters.archive>>)"
            docker save <<parameters.image>> | pigz -8 -p 3 > <<parameters.archive>>

jobs:
  build:
    executor: docker-builder
    steps:
      - checkout
      - install_ci_dependencies
      - ensure_cache_directory
      - restore_cache:
          keys:
            - docker-v4-{{ .Branch }}-{{ .Revision }}
            - docker-v4-{{ .Branch }}-
            - docker-v4-
      - setup_remote_docker:
          version: 24.0.5
      - load_cached_image:
          archive: /tmp/cache/docker.tar.gz
      - run:
          name: Generate Dockerfile
          command: ./scripts/build_dockerfile.sh app > Dockerfile
      - run:
          name: Build Docker image
          no_output_timeout: 60m
          command: |
            docker build \
              --cache-from jdkent/xnat_downloader:unstable \
              -t jdkent/xnat_downloader:unstable \
              --build-arg BUILD_DATE="$(date -u +"%Y-%m-%dT%H:%M:%SZ")" \
              --build-arg VCS_REF="$(git rev-parse --short HEAD)" \
              --build-arg VERSION="${CIRCLE_TAG:-$THISVERSION}" \
              -f Dockerfile \
              .
      - run:
          name: Execute Docker image
          command: docker run --rm jdkent/xnat_downloader:unstable --help
      - save_image_to_archive:
          image: jdkent/xnat_downloader:unstable
          archive: /tmp/cache/docker.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - cache/docker.tar.gz

  update_cache:
    executor: docker-builder
    steps:
      - attach_workspace:
          at: /tmp
      - ensure_cache_directory
      - save_cache:
          key: docker-v4-{{ .Branch }}-{{ epoch }}
          paths:
            - /tmp/cache/docker.tar.gz

  test_bids:
    executor: docker-builder
    steps:
      - checkout
      - install_ci_dependencies
      - ensure_cache_directory
      - attach_workspace:
          at: /tmp
      - setup_remote_docker:
          version: 24.0.5
      - load_cached_image:
          archive: /tmp/cache/docker.tar.gz
      - run:
          name: Run Docker image on bids test data
          no_output_timeout: 30m
          command: |
            docker run --rm \
              --entrypoint /bin/bash \
              jdkent/xnat_downloader:unstable \
              -lc "source \"${CONDA_DIR}/etc/profile.d/conda.sh\" && conda activate neuro && pytest /home/coder/project/xnat_downloader/tests/test_cli.py -k test_cli_bids"

  test_non_bids:
    executor: docker-builder
    steps:
      - checkout
      - install_ci_dependencies
      - ensure_cache_directory
      - attach_workspace:
          at: /tmp
      - setup_remote_docker:
          version: 24.0.5
      - load_cached_image:
          archive: /tmp/cache/docker.tar.gz
      - run:
          name: Run Docker image on non-bids test data
          no_output_timeout: 30m
          command: |
            docker run --rm \
              --entrypoint /bin/bash \
              jdkent/xnat_downloader:unstable \
              -lc "source \"${CONDA_DIR}/etc/profile.d/conda.sh\" && conda activate neuro && pytest /home/coder/project/xnat_downloader/tests/test_cli.py -k test_cli_nonbids"

  deploy:
    executor: docker-builder
    steps:
      - attach_workspace:
          at: /tmp
      - install_ci_dependencies
      - setup_remote_docker:
          version: 24.0.5
      - load_cached_image:
          archive: /tmp/cache/docker.tar.gz
      - run:
          name: Deploy to Docker Hub
          no_output_timeout: 40m
          command: |
            if [[ -n "${DOCKER_PASS:-}" ]]; then
              echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
              docker push jdkent/xnat_downloader:unstable
              if [[ -n "${CIRCLE_TAG:-}" ]]; then
                docker tag jdkent/xnat_downloader:unstable jdkent/xnat_downloader:"$CIRCLE_TAG"
                docker push jdkent/xnat_downloader:"$CIRCLE_TAG"
              fi
            else
              echo "Skipping deploy because DOCKER_PASS is not set."
            fi

  build_devel:
    executor: docker-builder
    steps:
      - checkout
      - install_ci_dependencies
      - ensure_cache_directory
      - restore_cache:
          keys:
            - docker_devel-v3-{{ .Branch }}-{{ .Revision }}
            - docker_devel-v3-{{ .Branch }}-
            - docker_devel-v3-
      - attach_workspace:
          at: /tmp
      - setup_remote_docker:
          version: 24.0.5
      - load_cached_image:
          archive: /tmp/cache/docker.tar.gz
      - load_cached_image:
          archive: /tmp/cache/docker_devel.tar.gz
      - run:
          name: Generate devel Dockerfile
          command: ./scripts/build_dockerfile.sh devel > Dockerfile_devel
      - run:
          name: Build devel Docker image
          no_output_timeout: 60m
          command: |
            docker build \
              --cache-from jdkent/xnat_downloader:devel \
              -t jdkent/xnat_downloader:devel \
              --build-arg BUILD_DATE="$(date -u +"%Y-%m-%dT%H:%M:%SZ")" \
              --build-arg VCS_REF="$(git rev-parse --short HEAD)" \
              --build-arg VERSION="${CIRCLE_TAG:-$THISVERSION}" \
              -f Dockerfile_devel \
              .
      - save_image_to_archive:
          image: jdkent/xnat_downloader:devel
          archive: /tmp/cache/docker_devel.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - cache/docker_devel.tar.gz

  update_devel_cache:
    executor: docker-builder
    steps:
      - attach_workspace:
          at: /tmp
      - ensure_cache_directory
      - save_cache:
          key: docker_devel-v3-{{ .Branch }}-{{ epoch }}
          paths:
            - /tmp/cache/docker_devel.tar.gz

  deploy_devel:
    executor: docker-builder
    steps:
      - attach_workspace:
          at: /tmp
      - install_ci_dependencies
      - setup_remote_docker:
          version: 24.0.5
      - load_cached_image:
          archive: /tmp/cache/docker_devel.tar.gz
      - run:
          name: Deploy devel image to Docker Hub
          no_output_timeout: 40m
          command: |
            if [[ -n "${DOCKER_PASS:-}" ]]; then
              echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
              docker push jdkent/xnat_downloader:devel
            else
              echo "Skipping deploy because DOCKER_PASS is not set."
            fi

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - update_cache:
          requires:
            - build
          filters:
            branches:
              ignore: /docs?\/.*/
            tags:
              only: /.*/
      - test_bids:
          requires:
            - build
          filters:
            branches:
              ignore: /docs?\/.*/
            tags:
              only: /.*/
      - test_non_bids:
          requires:
            - build
          filters:
            branches:
              ignore: /docs?\/.*/
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
            - test_non_bids
            - test_bids
          filters:
            branches:
              only: master
            tags:
              only: /.*/
      - build_devel:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - /.*devel.*/
      - update_devel_cache:
          requires:
            - build_devel
          filters:
            branches:
              only:
                - master
                - /.*devel.*/
      - deploy_devel:
          requires:
            - update_devel_cache
          filters:
            branches:
              only:
                - master
